.chat {
	display: flex;
	flex-direction: column;
	flex: 0.65;
}

.chat_header {
	padding: 25px;
	display: flex;
}

.chat_headerInfo {
	flex: 1;
	margin-left: 25px;
}

.chat_headerInfo > h2 {
	margin-bottom: 3px;
	font-weight: 500;
}

.chat_headerInfo > p {
	color: gray;
}

.chat_body {
	flex: 1;
	padding: 30px;
	background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
	background-repeat: repeat;
	background-position: center;
	/* overflow: scroll; */
}

.chat_message {
	position: relative;
	font-size: 16px;
	padding: 10px;
	width: fit-content;
	border-radius: 10px;
	background-color: white;
	margin-bottom: 30px;
}

.chat_receiver {
	margin-left: auto;
	background-color: #dcf8c6;
}

.chat_name {
	position: absolute;
	top: -15px;
	font-weight: 800;
	font-size: small;
}

.chat_timestamp {
	margin-left: 10px;
	font-size: small;
}

.chat_footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	border-top: 1px solid lightgray;
}

.chat_form {
	flex: 1;
	display: flex;
}

.chat_button {
	display: none;
}

.chat_text {
	border-radius: 30px;
	outline: 0;
	flex: 1;
	padding: 10px;
	border: none;
}
