.chat {
	display: flex;
	flex-direction: column;
	flex: 0.65;
}

.chat_header {
	padding: 25px;
	display: flex;
}

.chat_headerInfo {
	flex: 1;
	margin-left: 25px;
}

.chat_headerInfo > h2 {
	margin-bottom: 3px;
	font-weight: 500;
}

.chat_headerInfo > p {
	color: gray;
}
